.bottom-content
  .bottom__left
    .bottom__left--graph ここにドンとグラフが入る予定
  .bottom__right
    .bottom__right--btns
      =link_to "#", class:"show__animal--summery" do
        まとめレポート
      .twitter
      .facebook
      .instagram
