.bottom-content
  .bottom__left
    .bottom__left--graph
      =render "posts/post_graph"
  .bottom__right
    .bottom__right--btns
      =link_to "#", class:"show__animal--summery btn btn-primary disabled" do
        まとめレポート
      .twitter
      .facebook
      .instagram
