.bottom-content
  .bottom--left
    .bottom--left__graph ここにドンとグラフが入る予定
  .bottom--right
    .bottom--right__btns
      =link_to "#", class:"show--animal__summery" do
        .summery まとめレポート
      .twitter
      .facebook
      .instagram
