.middle-content
  .middle__left
    .middle__left--photo
      %img{class:"photo-box"} 
    =render partial:"middle_content_profile", locals:{animal:@animal}
  .middle__right
    .middle__right--post-btns 
      .new__post
        =link_to new_animal_post_path(@animal), class:"new__post--btn" do
          新規記録を作る
      .show__post
        =link_to animal_posts_path(@animal), class:"show__post--btn" do
          過去の記録を見る
    =render "middle_content_latestPost"