.middle-content
  .middle--left
    .middle--left__photo かわいい写真が入る
    =render "middle_content_profile"
  .middle--right
    .middle--right__post-btns 
      .new--post
        =link_to "#", class:"new--post__btn" do
          新規記録を作る
      .show--post
        =link_to "#", class:"show--post__btn" do
          過去の記録を見る
    =render "middle_content_latestPost"