.top-content
  .nav
    .nav-title はみがき記録帳
    .nav-username だいすけ
    .nav-icons
      .nav-icons--new__animal 新しい歯磨き記録
      .nav-icons--edit__user ユーザー情報編集
  .animals
    .animal--card
      .animal--card__photo ここに写真が入る
      .animal--card__name ここに名前が入る