.top-content
  .nav
    .nav-title 
      %h1 はみがき記録帳
    .nav-icons
      .nav-username
        =current_user.name
      .nav-icons__new--animal
        =link_to new_animal_path, class:"post__record--new" do
          新しく
          %br
          歯磨きする子
      .nav-icons__edit--user 
        =link_to edit_user_path(current_user), class:"edit__user--profile" do
          ユーザー情報
          %br
          編集
  .animals-select
    - current_user.animals.each do |animal|
      .animal__card
        = link_to animal_path(animal), class:"show__animal--detail" do
          %image{src:"https://1.bp.blogspot.com/-XiHMwq1qI74/XYhOX1hmXBI/AAAAAAABVHc/4BLGp1ydpyspbCIToEB5AKFIfwNogJ19wCNcBGAsYHQ/s1600/pet_darui_cat.png",class:"animal__card--photo"}
          .animal__card--name 
            = animal.name