= render "layouts/header"
.wrapper
  .middle-content.row
    = render partial:"middle_content_left", locals:{animal:@animal,breed:@breed}
    = render "middle_content_right"
  -#グラフの導入ができたら表示する。 
  -# = render "bottom_content"
= render "layouts/footer"