.middle-content{
  display: flex;
  height: 60%;
  padding: 20px 20px 20px 20px;
  .middle__left{
    width: 40%;
    &--photo{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70%;
      .photo-box{
        width: 400px;
        height: 400px;
        max-height: 100%;
        width: auto;
      }
    }
    &--profile{
      font-size: medium;
      height: 30%;
      &-top{
        display: flex;
        justify-content: space-evenly;
      }
      &-bottom{
        display: flex;
        justify-content: space-evenly;
      }
      &-edit{
        .profile__edit--btn{
          text-decoration: none;
        }
      }
    }
  }
  .middle__right{
    width: 60%;
    &--post-btns{
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      .new__post{
        margin-right: 40px;
      }
    }
    &--post-latest{
      margin: 0px auto;
      height: 70%;
      overflow: scroll;

    }
  }
}