nav#header{
  min-height: 100px;
}
// #navbarTogglerDemo02{
//   @include characterShadow
// }

nav#footer{
  height: 30px !important;
  padding: 0;
  a{
    margin: 0 auto;
    font-size: small;
  }
}