.post__box
  %label
    =link_to animal_post_path(@animal,post) do
      .post__left
        .post-recorded_at
          =post.recorded_at.strftime("%Y年%-m月%-d日 %-H時%-M分")
        .post-tool
          -post.tools.each do |tool|
            =tool.care
        .post-content_g
          =post.content_g
        .post-content_b
          =post.content_b
        .post-memo
          =post.memo
  .post__right
    .post__right-edit
      =link_to edit_animal_post_path(@animal,post), class:"post__right-edit--link btn-outline-warning" do
        編集
    .post__right-delete
      =link_to animal_post_path(@animal,post), class:"post__right-edit--link btn-outline-danger",method: :delete, data:{ confirm: "削除しますか？"} do
        削除