.container
  .space-50
  %label.space-10◆歯磨き日時
  .card.border-primary{style:"max-width: 20rem;"}
    .card-body  
      =@post.recorded_at.strftime("%Y年%-m月%-d日 %-H時%-M分")

  %label.space-10 ◆お手入れ方法
  .card.border-primary
    .card-body
      -@post.tools.each do |tool|
        =tool.care + "　"

  %label.space-10 ◆ 磨けたところ
  
  .row
    .col
      .card.border-primary
        %label ・左上顎
        .card-body
          -@post.tag_words.each do |t|
            -if t.id == 1 .. t.id==3
              =t.word
    .col         
      .card.border-primary
        %label ・右上顎
        .card-body
          -@post.tag_words.each do |t|
            -if t.id == 4 .. t.id==6
              =t.word 
  .space-5   
  .row            
    .col            
      .card.border-primary
        %label ・左下顎
        .card-body
          -@post.tag_words.each do |t|
            -if t.id == 7 .. t.id==9
              =t.word
    .col         
      .card.border-primary
        %label ・右下顎
        .card-body
          -@post.tag_words.each do |t|
            -if t.id == 10 .. t.id==12
              =t.word

  %label.space-10 ◆できたこと
  .card.border-primary
    .card-body{style:"white-space: pre-wrap;"}
      =@post.content_g

  %label.space-10 ◆不安なところ
  .card.border-primary
    .card-body{style:"white-space: pre-wrap;"}
      =@post.content_b

  %label.space-10 ◆画像
  .card.border-primary{style:"max-width: 30rem;"}
    - if @post.image.present?
      =image_tag @post.image.to_s, class:"photo-box rounded mx-auto d-block",style:"width: 200px;height: 200px;max-height: 100%;width: auto;"
    - if @post.movie.present?
      =video_tag @post.movie.to_s, width: "30%", height: "30%", controls: true, autobuffer: true, class:"movie-box"  
  
  %label.space-10 ◆メモ
  .card.border-primary
    .card-body{style:"white-space: pre-wrap;"}
      =@post.memo
  .space-50

  .post__show__bottom--links
    =link_to animal_posts_path(@animal), class:"btn btn-primary" do
      過去の記録一覧
    =link_to animal_path(@animal), class:"btn btn-success" do
      トップページへ
    =link_to edit_animal_post_path(@animal,@post), class:"btn-outline-warning" do
      編集
    =link_to animal_post_path(@animal,@post), class:"btn-outline-danger",method: :delete, data:{ confirm: "削除しますか？"} do
      削除
  .space-50