.wrapper{
  overflow: scroll;
  .posts__box{
    .post__box{
      margin: 0 auto; 
      &--link{
        text-decoration: none;
      }
      .card-body{
        overflow: scroll;
      }
      .post__right{
        &-edit--link{
          text-decoration: none;
        }
      }
    }
  }
}
//pose#showの下部のlink
.post__show__bottom--links{
  a{
    margin-right: 10px;
  }
}
//form
.date-selecter{
  font-size: 14px;
  line-height: 40px;
}
#date-selecter{
  margin-left: 15px;
}
